<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">System administrator</h3>
                            <div class="time">July 2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Lucky-labs</div>
                    </div><!--//meta-->
                    <div class="details">
<p> - Working with 100+ bare metal, 800+ virtual servers (kvm, lxc, docker, vmware);</p>
<p> - Monitoring services with nagios+check_mk+opsgenie, zabbix, telegraf+influxdb+grafana, collectd, new relic;</p>
<p> - Backup infrastructure with: Bacula enterprise, R1soft, rsync;</p>
<p> - 24/7 on-call duties;</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Unix system administrator</h3>
                            <div class="time">Oct 2012 - July 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Edipresse Ukraine</div>
                    </div><!--//meta-->
                    <div class="details">
<p> - Support and deploy servers based on (FreeBSD, Debian, Ubuntu, SUSE, Windows 2008-2012);</p>
<p> - Monitoring services (ipmonitor solarwinds).</p>
<p> - Support and configuring services: Firewall, Proxy, VPN, Samba, MySQL, Apache, SVN;</p>
<p> - Administration of Windows applications and systems: Active Directory, Terminal Server, Hyper-V, Group Policy, KAV;</p>
<p> - Interaction with providers, hosting partners.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
