<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Some Relevant Interests/Hobbies</h2>
                <div class="intro">
<p> - I love to wake up early, ride a bike 10 kilometers and on the road enjoy music; </p>
<p> - I can not imagine life without music, i listen it always and everywhere; </p>
<p> - My favorite styles is: Jazz, Soul, Chill, drum and bass, and all instrumental music; </p>
<p> - My dream is to visit the same countries like USA, Italy, Spain, Netherlands and GB; </p>
                </div><!--//intro-->
            </section><!--//section-->
