<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
                <div class="skillset">        
                    <div class="item">
                        <h3 class="level-title">Shell scripting: Bash</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="63%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">System Administrator: Debian/Ubuntu</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="89%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Configuration Management: Ansible </h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="68%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Continuous Integration: Jenkins</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="30%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Virtualization Platforms: KVM, LXC, Docker</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="75%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Version Control: GIT</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="50%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Monitoring Tools: Nagios, Check_mk, grafana, telegraf</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="70%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Security Tools: IPTables, Nmap, TCPDUMP, masscan</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="60%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Cloud Service: DigitalOcean</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="43%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->
                    
                </div>  
            </section><!--//skills-section-->
